@model GestaoEstudantil.Models.Nota

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-9">
        <h2>@ViewBag.pageContex</h2>
    </div>
</div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Disciplina.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Disciplina.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estudante.NomeCompleto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estudante.NomeCompleto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Frequencia.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Frequencia.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>

    </dl>
</div>
<p>
    <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        @Html.ActionLink("Voltar", "Index", "Notas", new { @class = "btn" })
        @Html.ActionLink("Editar", "Edit", "Notas", new { id = Model.IdNota }, new { @class = "btn btn-secondary" })
    </div>
</p>
