@model IEnumerable<GestaoEstudantil.Models.Nota>

@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-9">
        <h2>@ViewBag.pageContex</h2>
    </div>
    <div class="col-3">
        @Html.ActionLink("Adicionar Nota", "Create", "Notas", new { @class = "btn btn-primary" })
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Disciplina.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estudante.NomeCompleto)
        </th>
        <th>
            Frequência
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Valor)
        </th>
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Disciplina.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estudante.NomeCompleto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Frequencia.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Valor)
        </td>
        <td>
            <div class="btn-group" role="group" aria-label="Basic outlined example">
                @Html.ActionLink("Edit", "Edit", new { id = item.IdNota }, new { @class = "btn btn-secondary" })
                @Html.ActionLink("Detalhes", "Details", new { id = item.IdNota }, new { @class = "btn" })
                @Html.ActionLink("Delete", "Delete", new { id = item.IdNota }, new { @class = "btn btn-danger" })
            </div>
        </td>
    </tr>
}

</table>
